@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppings", sans-serif;
  box-sizing: border-box;
}
html,
body {
  background-color: #191919;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 62.5%;
  align-items: center;
  justify-content: center;
  color: #fff;
}

canvas {
  background-color: #111;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  h2 {
    font-size: 3rem;
    font-weight: 500;
  }
  .score-value {
    font-size: 3rem;
    font-weight: 400;
  }
}

.menu-screen {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90dvh;
  z-index: 1;
}

.game-over {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
}

.final-score {
  font-weight: 500;
  font-size: 1.5rem;
}

.btn-play {
  border: none;
  border-radius: 10rem;
  padding: 10px 15px 10px 12px;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}
